
/* base_profile.html */
.profile-main {
margin-left: 300px;
height: 100%;
width: 60%;
}

.info_div {
  display: flex;
  justify-content: space-around;
  height: 70px;
    width: 700px;

}

.profile_info_class {
  height: 30px;
  width: 150px;
    margin-left: 10px;
  display: flex;
  justify-content: space-center;

}
.users_profile_info {
  height: 30px;
  width: 200px;
margin-top: 5px;

}

#user_image_id {
width: 25px;
height: 25px;

}
#username_id {
font-size: 20px;
margin-left: 5px;

}
#aa {
}
#bb {
width: 250px;
height: 250px;

}
#posts_photo_id {

}