<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Title</title>
</head>
<body>
{% extends 'base-posts.html' %}

{% block content %}
<div id="post-add">
  <h2 id="post-add-h2">게시물 작성</h2>
    <form method="POST" enctype="multipart/form-data" action="{% url 'posts:post_add' %}">
        {% csrf_token %}
        <div class="img-viewer">
            <div class="button-grid">
                <!-- <div class="search_img_div"> -->
            <a href="{% url 'posts:search_img' %}" id="searchButton" class="image-select-button">
                <span class="file-select-span">포털사이트 이미지 가져오기</span>
            </a>
       
                <!-- </div> -->
                
       
                <!-- <div class="file-select-div"> -->
            <label for="img_file_select" id="fileButton" class="image-select-button">
                <input id="img_file_select" name="images" type="file" multiple  onchange="displayFileName(this)">
                <span class="file-select-span">로컬 파일 선택</span>
            </label>
                        
                <!-- </div> -->
            </div>
            <span class="file_name"></span>
            {% if error_message %}
            <p id="none-image-error">{{ error_message }}</p>
            {% endif %}


            

            <div class="print-div">
            {% for selected_image_url in selected_img_urls %}
            <img src="{{ selected_image_url }}" alt="" class="print-image">
            {% endfor %}
            </div>

        </div>

        <label>내용</label>
        {{ form.content }}
        
        <div>
            <label for="id_tags">해시태그</label>
            <input id="id_tags" name="tags"
                    type="text" placeholder="쉼표(,)로 구분하여 여러 태그 입력">
        </div>
        <!-- <input type="hidden" name="submit_check" id="submit_check-id" value=""> -->
        <button type="submit" id="myButton">게시</button>

    </form>
</div>

<!-- <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> -->

<!-- <script>
function postSubmit() {
    $("#submit_check-id").val("submit");
    $("#myButton").submit();
}



</script> -->

{% endblock %}
</body>
</html>

