<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <link rel="stylesheet" href="{% static 'css/baseStyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/usersStyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">

    <link rel="stylesheet" href="{% static 'css/nav.css' %}">



  {% block head %}{% endblock %}
</head>
<body>

  {% block base_content %}{% endblock %}
  <script type="text/javascript" src="{% static 'js/style.js' %}"></script>

</body>
</html>

